.poll {
  width: 100%;
  margin: 0 auto;
  padding: 24px 48px;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 3px;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.2);
  background-image: linear-gradient(to top,rgba(255,255,255,.03),rgba(255,255,255,0) 90%);
  background-color: transparent;
}
